@page "/Poker/PokerOnline";
@using DataLayer.DTO
@using Classes;
@using GameEngine.Classes;
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation
@inject PokerWrapper game;
@implements IAsyncDisposable

<PageTitle>Online Poker</PageTitle>
@if (connected == false)
{
    <div class="form-group">
        <label>
            RoomName:
            <input @bind="_roomName" />
        </label>
    </div>
    <button @onclick="ClickJoin">Join PokerGame</button>
}
@if (connected == true)
{
    <p>Connected to PokerRoom</p>
    //TODO
    //Render hand
    //Lägg till möjlighet att kasta kort och stanna.
    <h1>PokerGame</h1>
    <div class="highscore">
        <p><b>Score card:</b></p>
        <p>Player 1: @highScore[0]</p>
        <p>Player 2: @highScore[1]</p>
    </div>
    @foreach (var item in game.playerList)
    {
        <p>@item.Name</p>
    }
  
    @if (gameEnded == false)
    {
        @if (newGame)
        {
            <h2>Your hand (Player @(playerId + 1))</h2>
            <p>Click on the card to throw it</p>
            @foreach (var card in hand.ToList())
            {
                <a href="" @onclick="@(x=> ThrowCard(card.CardId))" @onclick:preventDefault><img class="pokercardimage" src="@GetFilePath(card.CardId)" /></a>
            }
            <br />
            <br />
            <button @onclick="GetNewCards">
                @if (hand.Count == 5)
                    @($"Keep Hand")
                else
                   @($"Draw to 5 cards")
            </button>
        }
        else
        {
            <p>Waiting for another player</p>
        }
    }
    else
    {
        <h2>Your hand (Player @(playerId+1))</h2>
        <p>Click on the card to throw it</p>
        @foreach (var card in hand.ToList())
        {
            <img class="pokercardimage" src="@GetFilePath(card.CardId)" />
        }
        <br />
        <br />
        <h2>Player @game.WinningHand() won</h2>
        @for (int i = 0; i < 2; i++)
        {
            <h3>Player @(i+1)</h3>
            var playerHand = game.GetHand(i);
            @foreach (var card in playerHand.ToList())
            {
                <img class="pokercardimage" src="@GetFilePath(card.CardId)" />
            }
        }
        <br />
        <button class="btn-primary" @onclick="PlayAgain">Play Again?</button>
        <button class="btn-primary" @onclick="Disconnect">Exit</button>

    }
}


@code {
    private HubConnection? hubConnection;
    private bool connected = false;
    public Hand<CardRecord> hand;
    public bool gameEnded = false;
    public bool newGame = false;
    private int playerId = 0;
    private string _roomName = "";
    public List<int> highScore = new List<int>()
    {
        0,0
    };

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/PokerRoom"))
            .Build();

        hubConnection.On("NewGame", () =>
        {
            newGame = true;
            hand = game.GetHand(playerId);
            StateHasChanged();
        });

        hubConnection.On("EndGame", () =>
        {
            newGame = false;
            gameEnded = true;
            game.RestorePlayer(playerId);
            StateHasChanged();
        });

        hubConnection.On("UpdateScore", () =>
        {
            highScore[game.WinningHand() - 1] += 1;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }
    private async Task ClickJoin()
    {
        if (hubConnection == null)
            throw new Exception("HubConnection failed");
        playerId = game.JoinRoom(_roomName);
        if (playerId != -1)
        {
            connected = true;
            if (game.playerList.Count() == 2)
            {
                await hubConnection.InvokeAsync("StartGame");
            }
        }
        else
            Navigation.NavigateTo("/Poker/RoomFull");
        StateHasChanged();
    }

    private async Task GetNewCards()
    {
        if (game.playerList[playerId].DrawnCards == true)
            return;
        int cardNeeded = 5 - hand.Count;
        for (int i = 0; i < cardNeeded; i++)
        {
            hand.Draw(game.GetDeck().Draw());
        }
        game.playerList[playerId].DrawnCards = true;
        var result = game.playerList.Where(x => x.DrawnCards == true).Count();
        if (result == 2)
        {
            await hubConnection.InvokeAsync("ShowWinner");
        }
        StateHasChanged();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async void PlayAgain()
    {
        game.playerList[playerId].Waiting = true;
        gameEnded = false;
        foreach(var player in game.playerList)
        {
            if (player.Waiting == false)
                return;
        }
        game.ShuffleAndDeal();
        await hubConnection.InvokeAsync("StartGame");

    }

    public string GetFilePath(int id)
    {
        return "/PokerGame/" + id + ".jpg";
    }

    public void ThrowCard(int id)
    {
        if (game.playerList[playerId].DrawnCards == true)
            return;
        var card = hand.ToList().Where(x => x.CardId == id).First();
        for (int i = 0; i < hand.Count; i++)
        {
            if (card.Equals(hand[i]))
            {
                hand.Throw(i);
                break;
            }
        }
    }
    public async Task Disconnect()
    {
        game.LeaveGame(playerId);
        await DisposeAsync();
        Navigation.NavigateTo("/Poker/");
    }
}
